﻿@model Battleshit3.Viewmodels.LoginViewmodel

@{
    ViewBag.Title = "Login";
}

<h2>Вход на сайт</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary()
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <p>
            <label class="control-label">Email</label><br />
            @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control" } } )
        </p>
        <p>
            <label class="control-label">Пароль</label><br />
            @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control" } })           
        </p>
        <p><button class="btn btn-default" type="submit">Войти</button></p>
    </div>
}
