﻿@model Battleshit3.Viewmodels.RegistrationViewmodel

@{
    ViewBag.Title = "Register";
}

<h2>Регистрация</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>Регистрация пользователя</h4>
        <hr />
        @Html.ValidationSummary(false)

        <div>
            <div>
                @*@Html.EditorFor(model => model.Email)*@
                <label class="control-label">Электронный адрес</label><br />
                @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div>
            <div>
                @*@Html.EditorFor(model => model.Nickname)*@
                <label class="control-label">Никнейм</label><br />
                @Html.EditorFor(x => x.Nickname, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div>
            
            <div>
                @*@Html.EditorFor(model => model.Password)*@
                <label class="control-label">Пароль</label><br />
                @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div>
            
            <div>
                @*@Html.EditorFor(model => model.PasswordConfirm)*@
                <label class="control-label">Подтвердить пароль</label><br />
                @Html.EditorFor(x => x.PasswordConfirm, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <br />
        <div>
            <div>
                <input type="submit" class="btn btn-default" value="Зарегистрировать" />
            </div>
        </div>
    </div>
}