﻿<h1>
    Список игроков на сайте:
</h1>
<table>
    <thead>
        <tr>
            <th>Никнейм</th>
            <th>Текущий статус</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="player in players" ng-click="selectOpponent(player.ConnectionId)">
            <td>{{player.Nickname}}</td>
            <td>{{player.Status}}</td>
        </tr>
    </tbody>
</table>