﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@{
        ViewBag.Title = "Lobby";
    }

    @section scripts{
        <script src="~/Scripts/jquery-1.10.2.min.js"> </script>
        <script src="~/Scripts/jquery.signalR-2.2.2.min.js"> </script>
        <script src="~/signalr/hubs"> </script>

        <script>
        $(function ()
        {
            // Ссылка на автоматически-сгенерированный прокси хаба
            var lobby = $.connection.battleship;
            // Объявление функции, которая хаб вызывает при получении сообщений

            lobby.client.onReconnected = function (myNickname, haveActiveBattles, opponentNickname, battleStarted) {
                console.log('onReconnected called');
                if (haveActiveBattles)
                    alert('Дороу, ' + myNickname + '. У вас есть активный бой с ' + opponentNickname + ', который начался в ' + battleStarted);
            };

            lobby.client.onConnected = function () {
                console.log('onConnected called');
            };

            lobby.client.onOfferBattle = function (randomPlayerNickname)
            {
                prompt('Вы хотите сразиться с '+randomPlayerNickname+' ?');
            };

            lobby.client.onOpponentDeclined = function ()
            {
                alert('оппонент отказался от боя')
            };
            lobby.client.onNewMessage=function(Nickname, message){ alert(Nickname +'говорит: '+message);};

            lobby.client.onBattleStarted=function(goFirst)
            {
                alert('Начался бой. goFirst = '+goFirst);
            };

            lobby.client.onGameover=function(opponentNickname, otc, won)
            {
                alert('Закончился бой с '+opponentNickname+'. Исход: '+otc+'. вы выиграли? '+won);

            };
            lobby.client.onError=function(errorCode, errorMessage){
                Error('Произошла ошибка. Код '+errorCode+', сообщение: '+errorMessage);
            }
            lobby.client.onShipDestroyed = function(shipCoordinates){
                for (var i = 0;i<shipCoordinates.length;i++)
                    console.log("ячейка корабля ["+shipCoordinates[i].x+";"+shipCoordinates[i].y+"] поймала маслину");
            };

            lobby.client.onShotLanded=function(HitResult, xCoord, yCoord)
            {
                alert('Приземлился мой выстрел по координатам ['+xCoord+";"+yCoord+']. Результат выстрела: '+HitResult);
            };
            lobby.client.onGettingShot=function (xCoord, yCoord){
                alert('По мне шмальнули в ['+xCoord+";"+yCoord+"]");
            };
            lobby.client.openFire = function(){alert('теперь я могу шмалять');};

            lobby.client.onSetCookie = function (newCookie)
            {
                alert('Ставлю куки \n' + JSON.stringify(newCookie, null, 4));
                document.cookie = newCookie.Name + '=' + newCookie.Value;
            };

            lobby.client.onOpponentAccepted = function ()
            {
                alert('Я согласился и оппонент согласился. Сейчас отправлю свои ебучие корабли');
                var coords = [];
                for (var i = 0; i < 20; i++)
                {
                    coords[i] = { xCoord: randomInteger(0, 10), yCoord: randomInteger(0, 10) };
                }

                $.ajax({
                    url:'@Url.Action("ReadyForBattle", "Battle")',
                    type:"POST",
                    data:{
                            coords:coords
                        },
                    success:function () {
                        console.log('отправил ебучие координаты');
                    }
                });
            };


            // Открываем соединение
            $.connection.hub.start().done(function ()
            {

                $.ajax({
                    url: '@Url.Action("Register", "Battle")',
                    type: "POST",
                    data:
                        {
                            HubConnectionId: $.connection.hub.id
                        },
                    success: function ()
                    {
                        console.log('Послал connection id');
                    },
                });

                $('#PvP').click(function ()
                {
                    // Вызываем у хаба метод Send
                    $.ajax({
                        url: '@Url.Action("FindBattleVersusPlayer", "Battle")',
                        type: "POST",
                        data:
                            {
                                nickname: $("#userNickname").val(),
                            },
                        success: function ()
                        {
                            console.log('Теперь вы ищете бой против живого человека');
                        },
                    });
                });



                $('#acceptBattle').click(function ()
                {
                    $.ajax({
                        url: '@Url.Action("BattleOfferReply", "Battle")',
                        type: "POST",
                        data:
                            {
                                agreed:true,
                            },
                        success: function () {
                            console.log('Готов к бою');
                        },
                    });
                });

                $('#declineBattle').click(function ()
                {
                    $.ajax({
                        url: '@Url.Action("BattleOfferReply", "Battle")',
                        type: "POST",
                        data:
                            {
                                battleId: currentBattleOfferId,
                                agreed:false,
                            },
                        success: function () {
                            console.log('отказался от боя');
                        },
                    });
                });

                $('#sendMessage').click(function ()
                {
                    $.ajax({
                        url: '@Url.Action("SendMessage", "Battle")',
                        type: "POST",
                        data:
                            {
                                message:'#YOLO',
                            },
                        success: function () {
                            console.log('отказался от боя');
                        },
                    });
                });

                $('#restartSearch').click(function ()
                {
                    $.ajax({
                        url: '@Url.Action("RestartSearch", "Battle")',
                        type: "POST",
                        success: function () {
                            console.log('перезапустил поиск');
                        },
                    });
                });

                $('#attack').click(function ()
                {
                    $.ajax({
                        url: '@Url.Action("Attack", "Battle")',
                        type: "POST",
                        data:{
                            xCoord:randomInteger(0,10),
                            yCoord:randomInteger(0,10)
                        },
                        success: function ()
                        {
                            console.log('отправил уебать');
                        },
                    });
                });

                $('#dropUsers').click(function () {
                    $.ajax({
                        url: '@Url.Action("DropThatShit", "Battle")',
                        type: "POST",
                        success: function () {
                            console.log('Пользователи удалены');
                        },
                    });
                });
            });
        });
        function randomInteger(min, max) {
            var rand = min - 0.5 + Math.random() * (max - min + 1)
            rand = Math.round(rand);
            return rand;
        }

        // Кодирование тегов
        function htmlEncode(value)
        {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
        </script>
    }




    <h2>Lobby</h2>
    <div class="row">
        <div class="form-group col-md-6 col-md-offset-1">
            <label for="userNickname">Nickname:</label>
            <input type="text" class="form-control" id="userNickname">
        </div>
    </div>

    <div class="btn-group">
        <button id = "PvP" class="btn btn-info">PvP</button>
        <button id = "PvCPU" class="btn btn-info">PvCPU</button>~
        <button id="attack" class="btn btn-danger">Random attack</button>
        <button id="acceptBattle" class="btn btn-success">Accept battle</button>
        <button id="declineBattle" class="btn btn-danger">Decline battle</button>
        <button id="restartSearch" class="btn btn-info">Restart search</button>
        <button id="sendMessage" class="btn btn-warning">Send message</button>
        <button id="dropUsers" class="btn btn-danger">Drop users</button>
    </div>*@

