﻿@model IEnumerable<Battleship.Models.OnlinePlayer>

@using Battleship.Models;
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
<script src="~/Scripts/jquery-1.10.2.min.js"> </script>
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"> </script>
<script src="~/signalr/hubs"> </script>

<script>
    $(function ()
    {
        // Ссылка на автоматически-сгенерированный прокси хаба
        var lobby = $.connection.onlinePlayersLobby;
        // Объявление функции, которая хаб вызывает при получении сообщений
        lobby.client.addMessage = function (id, name, message)
        {
            // Добавление сообщений на веб-страницу 
            var extraClass = "";
            if (id == $("hdId").val())
                extraClass = "myMessage";

            $('#chatContent').append('<li class="list-group-item '+extraClass+'"><p><b>' + htmlEncode(name)
                + '</b>: ' + htmlEncode(message) + '</p></li>');
        };

        // Функция, вызываемая при подключении пользователя (т.е. для самого пользователя)
        lobby.client.onConnected = function (id, userName, allUsers)
        {
            $('#hdId').val(id);
            $('#hdUsername').val(userName);
            $('#header').html('<h3>Дороу, ' + userName + '</h3>');

            // Добавление всех пользователей
            for (i = 0; i < allUsers.length; i++)
                AddUser(allUsers[i].ConnectionId, allUsers[i].Name);
        }
        //lobby.client.onReconnected = function (i)

        // Добавляем нового пользователя
        lobby.client.onUserConnected = function (id, name)
        {
            alert('user connected');
            AddUser(id, name);
        }

        // Удаляем пользователя
        lobby.client.onUserDisconnected = function (id, userName)
        {
            alert('user disconnected');
            $('#' + id).remove();
        }

        // Открываем соединение
        $.connection.hub.start().done(function ()
        {
            lobby.server.connect();

            $('#sendmessage').click(function ()
            {
                // Вызываем у хаба метод Send
                lobby.server.sendMessage($('#message').val());
                $('#message').val('');
            });
        });
    });

    // Кодирование тегов
    function htmlEncode(value)
    {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    }
    //Добавление нового пользователя
    function AddUser(id, name)
    {

        $("#onlinePlayers").append('<li list-group-item id="' + id + '">' + name + '</li>');
    }
</script>
}

<style>
    .theList
    {
        height:300px;
        overflow:hidden;
        overflow-y:auto !important;
    }
    .myMessage{
        background-color:lightblue;
        text-align:right;
    }
</style>


<div class="row">
    <div class="col-md-12">
        <p>Вот эти мудаки сейчас в сети</p>
    </div>
    <div class="col-md-2 col-md-offset-1">
        <ul class="list-group theList" id="onlinePlayers">
            @foreach (OnlinePlayer lp in Model)
            {
                <li id="@lp.ConnectionId" class="list-group-item">@lp.Player.Nickname<span class="badge">@lp.Status</span></li>
            }
        </ul>
    </div>
    <div class="col-md-4 col-md-offset-4" id="chat">
        <div>
            <div id="header"></div>
            <div>
                <ul class="list-group theList" id="chatContent">

                </ul>
            </div>
            <div id="inputForm">
                <label id="user"></label>
                <input type="text" id="message" />
                <input type="button" class="btn btn-primary" id="sendmessage" value="Отправить" />
            </div>
            <input id="hdId" type="hidden" />
            <input id="hdUsername" type="hidden" />
        </div>
    </div>
</div>
