﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
* {
    z-index:10;
}

input,
select,
textarea {
    max-width: 280px;
}
footer{
    position:absolute;
    bottom:-20px;
    left:0px;
    width:100%;
}

.is_overlay{ display: block; z-index:-50; width: 100%; height: 100%; }
#background 
{
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	overflow: hidden;
    width:100%;
    height:100%;
}

#background > video {
	position: absolute;
	/*top: 0;*/
	/*left: 0;*/
    /*object-fit: fill;*/
    width: 105%;
    height: 100%;
    z-index: -100;
    background-size: cover;
    transition: 1s opacity;
}

.mainTitle{
    position:absolute;
    top:50%;
    left:30%;
    font-size:2.5em;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}