﻿.table {
    width: 400px;
    border: none;
}

tr {
    height: 40px;
}

td {
    width: 40px;
}

tbody > tr, th {
    border: 0px solid transparent;
}

    tbody > tr > td {
        border: 1px solid gray;
    }

.rowHeader {
    border: none;
}

.table > tbody > tr > td {
    border-top: none;
}

.successDrop {
    background-color: green;
    opacity: 0.1;
}

.test {
    background-color: red;
}

.ship {
    height: 40px;
    width: 40px;
    border: 2px solid #6f00ff;
    position: absolute;
}

.error {
    border: 2px solid red;
    /*background-color: red;*/
}

.battlefield-start {
    position: absolute;
    width: 100%;
    height:100%;
    z-index: 999;
}

.battlefield-start-content {
    text-align: left;
    padding: 0 1em;
    margin-right: 4px;
    height:100%;
}

.battlefield-choose-rival {
    top: 140px;
    left: 10%;
    font-size: .8em;
    margin-top: -30px;
    position: relative;
}

.battlefield-players {
    position: absolute;
    top:0;
    bottom:40px;
    width: 50%;
    z-index: 999;    
    left:50%
}

.battlefield-players-content {
    position: absolute;
    width: 100%;
    z-index: 999;
    right: 0;
}
.battlefield-players-content > table {
    position:absolute;
    right:0;
}
.battlefield-players-list {
    height: 100%;
    overflow: auto;
}
.active-opponent{
    background-color:blue;
    color:white;
}

.deny-overflow, .deny-overflow > h3, .deny-overflow > div {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis; /* Многоточие */
}
.ship-destroy {
    background-color:darkgrey
}
