﻿@{
    ViewBag.Title = "Battle";
}
@section scripts{
    <!--JQuery-->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <!--AngularJS-->
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-cookies.js"></script>
    <script src="~/Angular/app.js"></script>
    <!--Controller-->
    <script src="~/Angular/Controllers/Default/defaultCtrl.js"></script>
    <!--Factory-->
    <script src="~/Angular/Factory/NotifyService.js"></script>
    <script src="~/Angular/Factory/DataService.js"></script>
    <script src="~/Angular/Factory/AudioNotifyService.js"></script>
    <!--Directives-->
    <script src="~/Angular/Directives/droppable.js"></script>
    <script src="~/Angular/Directives/draggable.js"></script>
    <!--Bootstrap-->
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!--SignalR-->
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"> </script>
    <script src="~/signalr/hubs"> </script>
    <!--JQueryUI-->
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <!-- PNotify -->
    <script src="~/Scripts/pnotify.custom.min.js"></script>
    <link href="~/Angular/Content/pnotify.custom.css" rel="stylesheet" />
    <!-- Confirm -->
    <script src="~/Scripts/angular-confirm/angular-confirm.min.js"></script>
    <link href="~/Scripts/angular-confirm/angular-confirm.min.css" rel="stylesheet" />
    <!--CSS-->
    <link href="~/Angular/Content/site.css" rel="stylesheet" />
}
<div ng-app="seaBattleApp" ng-controller="defaultCtrl" ng-init="defaultInit()" ng-show="initLoad == true">
    <div class="container">
        <a class="pull-right" ng-show="endGame" ng-click="initializeState()">Сыграть еще раз</a>
        <div class="row" style="margin-top:30px">
            <div class="text-center">
                <h3>{{message}}</h3>
            </div>
            <div class="row" style="min-height:60px;">
                <div class="col-md-6">
                    <div style="max-width:500px">
                        <div style="width:300px;">
                            <h3 style="font-style:italic" ng-hide="startedGame!=true">{{username}}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="max-width:500px">
                        <div style="width:300px;">
                            <h3 style="font-style:italic" ng-hide="startedGame!=true">{{opponentNickname}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="margin:0px; padding:0px;">
                <div style="position:absolute">
                    <div style="position:absolute; top:40px">
                        <div style="position:absolute; top:0; bottom:0; left:0; right:0;z-index:999" ng-hide="startedGame!=true"></div>
                        <div ng-repeat="ship in ships" class="ship" draggable="ship" ships="ships" battlefield="battlefield">{{ship.Id}}</div>
                        <table class="table" id="battlefield" style="margin-top:-40px;">
                            <thead>
                                <tr>
                                    <th ng-repeat="header in columnsHeaders">{{header}}</th>
                                </tr>
                            </thead>
                            <tbody class="dragCell">
                                <tr ng-repeat="rowHeader in rowsHeaders">
                                    <td ng-repeat="h in columnsHeaders" droppable style="padding:0px;">
                                        <div style="width:100%;margin-bottom: -10px;margin-right: -4px;height:100%;" class="text-center">
                                            <canvas width="39" height="39"></canvas>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="margin:0px; padding:0px;">
                <div style="position:absolute">
                    <div style="position:absolute; top:40px">
                        <form ng-submit="startGame()" class="battlefield-start" ng-hide="startedGame==true">
                            <div class="battlefield-start-content">
                                <div class="battlefield-choose-rival deny-overflow">
                                    <h3>Противник</h3>
                                    <div class="btn-group" style="margin-bottom:10px;">
                                        <label for="inputPC" class="btn btn-default" ng-class="versusCPU == true ? 'active' : ''" ng-click="versusCPU = true">PC</label>
                                        <label for="inputMultiplayer" class="btn btn-default" style="border-radius :0 4px 4px 0" ng-class="versusCPU == false ? 'active' : ''" ng-click="versusCPU = false">Multiplayer</label>
                                    </div><br />
                                    <button class="btn btn-success" type="submit">Погнали</button>
                                </div>
                                <div class="battlefield-players">
                                    <ul class="list-group battlefield-players-list deny-overflow">
                                        <li class="list-group-item" ng-repeat="player  in players" ng-click="selectOpponent(player)" ng-class="selectedPlayer.ConnectionId == player.ConnectionId? 'active' : ''" ng-hide="player.Status!= 1">
                                            {{player.Nickname}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                        <table class="table" id="rivalBattlefield" style="margin-top:-40px; opacity: .4;">
                            <thead>
                                <tr>
                                    <th ng-repeat="header in columnsHeaders">{{header}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(y,value1) in rowsHeaders">
                                    <td ng-repeat="(x,value2) in columnsHeaders" style="padding:0px; width:36px;height:36px;">
                                        <div style="width:100%;margin-bottom: -10px;margin-right: -4px;height:100%;" class="text-center">
                                            <canvas width="39" height="39" ng-click="openFire==true && !opponentBattleField[key1][key2].isAttacked? attack(x,y):null"></canvas>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@*<h3>
        Список игроков:
    </h3>
    <table style="max-height:200px; overflow-y:auto; overflow-x:auto">
        <thead>
            <tr>
                <th>Никнейм</th>
                <th>Текущий статус</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="players  in players">
                <td>{{player.Nickname}}</td>
                <td>{{player.ConnectionId}}</td>
            </tr>
    </tbody>
    </table>*@