﻿<div class="container">
    <div class="row" style="margin-top:50px">
        <div class="row" style="min-height:60px;">
            <div class="col-md-6">

                <div style="max-width:500px">
                    <div style="width:300px;">
                        <h3 style="font-style:italic" ng-hide="startedGame!=true">{{username}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div style="max-width:500px">
                    <div style="width:300px;">
                        <h3 style="font-style:italic" ng-hide="startedGame!=true">Лох по жизни, черт по масти</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="margin:0px; padding:0px;">
            <div style="position:absolute">
                <div style="position:absolute; top:40px">
                    <div ng-repeat="ship in ships" class="ship" draggable="ship" ships="ships" battlefield="battlefield">{{ship.Id}}</div>
                    <table class="table" id="battlefield" style="margin-top:-40px;">
                        <thead>
                            <tr>
                                <th ng-repeat="header in columnsHeaders">{{header}}</th>
                            </tr>
                        </thead>
                        <tbody class="dragCell">
                            <tr ng-repeat="rowHeader in rowsHeaders">
                                <td ng-repeat="h in columnsHeaders" droppable></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="margin:0px; padding:0px;">
            <div style="position:absolute">
                <div style="position:absolute; top:40px">
                    <form ng-submit="startGame()" class="battlefield-start" ng-hide="startedGame==true">
                        <div class="battlefield-start-content">
                            <div class="battlefield-choose-rival deny-overflow">
                                <h3>Имя пользователя</h3>
                                <input class="form-control" style="width:200px" ng-model="username" required />
                                <h3>Противник</h3>
                                <div class="btn-group" style="margin-bottom:10px;">
                                    <label for="inputPC" class="btn btn-default" ng-class="rival == 'PC' ? 'active' : ''">PC</label>
                                    <input id="inputPC" type="radio" ng-model="rival" value="PC" style="display: none;" />
                                    <label for="inputMultiplayer" class="btn btn-default" style="border-radius :0 4px 4px 0" ng-class="rival == 'Multiplayer' ? 'active' : ''">Multiplayer</label>
                                    <input id="inputMultiplayer" type="radio" ng-model="rival" value="Multiplayer" style="display: none;" />
                                </div>
                            </div>
                            <button class="btn btn-success" type="submit">Погнали</button>
                        </div>
                    </form>
                    <table class="table" id="rivalBattlefield" style="margin-top:-40px; opacity: .4;">
                        <thead>
                            <tr>
                                <th ng-repeat="header in columnsHeaders">{{header}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rowHeader in rowsHeaders">
                                <td ng-repeat="h in columnsHeaders" style="padding:0px">
                                    <div style="width:36px; height:36px" ng-click="click()" ng-hide="startedGame!=true"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>